@charset "utf-8";

header{
  text-align: center;
  background-color: rgba(86, 3, 159, 0.243);
  position: fixed;
  width: 100%;
  z-index: 20;
}

.progressbar{
  height: 5px;
  background-color:rgba(69, 34, 174, 0.709);
  border-top: #fffefe .5px solid;
  border-bottom: #fffefe .5px solid;

  animation: progressbar linear both;
  animation-timeline: scroll();
  animation-range: entry 0% cover 100%;
}
@keyframes progressbar{
  from{width: 0;}
  to{
    width: 100%;
  }
}

.header {
  text-align: justify;
  background: var(--background-navbar);
  width: 100%;
  height: 52px;
  margin: 0 auto;
}


/* Nav items */

.sp-menu {
  list-style: none; 
  position: absolute;
  width: 100%;
  height:100vh;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: rgb(116, 116, 116);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  text-align: center;
}
/* Hamburger menu button */
.menu-btn:checked ~ .sp-menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}


/* Hamburger menu text */
.sp-menu a {
  text-decoration: none;
  letter-spacing: 2px;
  font-style: normal;
  font-size: 24px;
  text-transform: capitalize;
  color: #030202;
  font-weight: 900;
  /* -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: .1px; */
  opacity: 0;
  transition: 0.5s;
}
.sp-menu li {
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
  padding-bottom: 3px; /* テキストと下線の間隔 */
  font-size: 24px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 2px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}
.sp-menu li:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 2px; /* 下線の横幅を100%にする */
}

.menu-btn:checked ~ .sp-menu a,
.menu-btn:checked ~ .sp-menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}
.menu-btn-all {
  display: none;
}
.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navicon {
  background: #ffffff;

  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffffff;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.navicon:before {
  top: 9px;
}
.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */
/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #fffefe;
  /* letter-spacing: 2px; */
  font-size: 32px;
  font-weight: 500;
  -webkit-text-stroke-color: #3d5f9e;
  -webkit-text-stroke-width: .5px;
}

/* 
header h1{
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: rgb(8, 30, 48);
  opacity: 1;  
} */
.text a {
  color: #000;
  text-decoration: none;
}
.text {
  padding-bottom: 3px; /* テキストと下線の間隔 */
  font-size: 24px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}


/* main-animation */

.boxscene {
  height:80vh;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-animation {
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  transform:
      rotateX(20deg)
      rotateY(20deg)
      rotateZ(-20deg);
  position: relative;
  animation: rotation 6s linear 0s infinite normal none running;
}


@keyframes rotation {
  0% {
      transform:
          rotateX(0deg)
          rotateY(-90deg)
          rotateZ(-180deg);
  }

  25% {
      transform:
          rotateX(90deg)
          rotateY(0deg)
          rotateZ(-90deg);
  }

  50% {
      transform:
          rotateX(180deg)
          rotateY(90deg)
          rotateZ(0deg);
  }

  75% {
      transform:
          rotateX(270deg)
          rotateY(180deg)
          rotateZ(90deg);
  }

  100% {
      transform:
          rotateX(360deg)
          rotateY(270deg)
          rotateZ(180deg);
  }
}

.main-animation > div {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(189, 189, 189);
  box-sizing: border-box;
  background-color:rgb(143, 133, 22);
  position: absolute;
  background-position: center;
  background-size: cover;
  opacity: .7;
}


/* 内側 */
.main-animation > .in{
  animation:changecolor 10s infinite linear;
}
@keyframes changecolor{
  0%{background-color: rgba(65, 237, 243, 0.305);}
  25%{background-color: rgba(47, 207, 154, 0.301);}
  50%{background-color: rgba(0, 211, 141, 0.305);}
  75%{background-color: rgba(194, 207, 203, 0.308);}
  100%{background-color: rgba(65, 237, 243, 0.301);}
}
.main-animation > .top {
  transform:
      rotateX(90deg)
      translateZ(20px);
}

.main-animation > .bottom {
  transform:
      rotateX(-90deg)
      translateZ(20px);
}

.main-animation > .front {
  transform: translateZ(20px);
}

.main-animation > .back {
  transform:
      rotateY(180deg)
      translateZ(20px);
}

.main-animation > .right {
  transform:
      rotateY(90deg)
      translateZ(20px);
}

.main-animation > .left {
  transform:
      rotateY(-90deg)
      translateZ(20px);
}
/* 外側 */
.main-animation > .out{
  border-radius: 50%;
  background-color: #0d244e84;
  
}

.m-b-top{
  transform:
      rotateX(90deg)
      translateZ(150px);
}
.m-b-top-r{
  transform:
      rotateX(60deg)
      translateZ(150px);
}
.m-b-top-l{
  transform:
      rotateX(120deg)
      translateZ(150px);
}
.m-b-top-y{
  transform:
      rotateX(30deg)
      translateZ(150px);
}
.m-b-top-x{
  transform:
      rotateX(150deg)
      translateZ(150px);
}


.m-b-bottom {
  transform:
      rotateX(-90deg)
      translateZ(150px);
}
.m-b-bottom-1 {
  transform:
      rotateX(-30deg)
      translateZ(150px);
}
.m-b-bottom-2{
  transform:
      rotateX(-60deg)
      translateZ(150px);
}
.m-b-bottom-3{
  transform:
      rotateX(-120deg)
      translateZ(150px);
}
.m-b-bottom-4{
  transform:
      rotateX(-150deg)
      translateZ(150px);
}

.m-b-front {
 transform: translateZ(150px);
 
}

.m-b-back {
  transform:
      rotateY(180deg)
      translateZ(150px);
}
.m-b-back-1 {
  transform:
      rotateY(120deg)
      translateZ(150px);
}
.m-b-back-2 {
  transform:
      rotateY(150deg)
      translateZ(150px);
}
.m-b-back-3 {
  transform:
      rotateY(210deg)
      translateZ(150px);
}
.m-b-back-4 {
  transform:
      rotateY(240deg)
      translateZ(150px);
}

.m-b-right {
  transform:
      rotateY(90deg)
      translateZ(150px);
}
.m-b-right-1 {
  transform:
      rotateY(30deg)
      translateZ(150px);
    
}
.m-b-right-2 {
  transform:
      rotateY(60deg)
      translateZ(150px);
}
.m-b-right-3 {
  transform:
  rotateZ(-30deg)
      rotateY(90deg)
      translateZ(150px);

}
.m-b-right-4 {
  transform:
  rotateZ(-60deg)
  rotateY(90deg)
  translateZ(150px);
}
.m-b-right-5 {
  transform:
  rotateZ(150deg)
  rotateY(90deg)
  translateZ(150px);
}
.m-b-right-6 {
  transform:
  rotateZ(120deg)
  rotateY(90deg)
  translateZ(150px);
}
.m-b-right-7 {
  transform:
  rotateZ(60deg)
  rotateY(90deg)
  translateZ(150px);
}
.m-b-right-8 {
  transform:
  rotateZ(30deg)
  rotateY(90deg)
  translateZ(150px);
}

.m-b-left {
 transform:
      rotateY(-90deg)
      translateZ(150px);
}
.m-b-left-1 {
  transform:
       rotateY(-30deg)
       translateZ(150px);
 }
.m-b-left-2 {
  transform:
       rotateY(-60deg)
       translateZ(150px);
 }
.m-b-left-3 {
  transform:
  rotateZ(30deg)
  rotateY(-90deg)
  translateZ(150px);
 }
.m-b-left-4 {
  transform:
  rotateZ(60deg)  
   rotateY(-90deg)
   translateZ(150px)
   ;
 }