@charset "utf-8";

@media(min-width:900px){
  .pc{
    display: grid;
  }
  html ,body,main{
    height: 20px;
  }
  body{
    width: 100%;
    background: linear-gradient(to right,rgb(38, 190, 228),rgb(235, 208, 208),rgb(20, 10, 150));
    /* animation:changecolor 3s infinite; */
    
    
  }
  .sp{
    display: none;
  }
  header{
    background: none;
  }
  .title{
    text-align: center;
  }
  h1{
    margin: 0;
    padding: 0;
    font-size: 64px;
  }
  .title img{
    z-index: -2;
    width: 200px;
    border: darkmagenta double 4px;
  }
  /* 選択 */
  .choice{
    background-color: rgb(88, 74, 165);
    
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0px 0px 15px 0px white;
    position: absolute;
  }
  .choice h2{
    margin-top: 40%;
    font-size: 32px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
  }
  .c1{
    top: 5%;
    left: 5%;
    height: 250px;
    width: 250px;
  }
  .c2{
    top: 50%;
    left: 20%;
    height: 250px;
    width: 250px;
    aspect-ratio: 1/1;
  }
  .c3{
    height: 250px;
    width: 250px;
    top:5%;
    right:5%;
    aspect-ratio: 1/1;

  }
  .c4{
    top: 50%;
    right: 20%;
    height: 250px;
    width: 250px;
    aspect-ratio: 1/1;
  }
  .choice:hover{
    animation:changecolor 3s infinite;
    border: double purple 2px;
  }
  @keyframes changecolor{
    0%{background-color: aquamarine;}
    25%{background-color: rgb(47, 207, 154);}
    50%{background-color: rgb(0, 211, 141);}
    75%{background-color: rgb(194, 207, 203);}
    100%{background-color: aquamarine;}
  }

  /* クリックで開く */

  #mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  #mo1,#mo2,#mo3,#mo4 {
    background: #babaa9;
    width: 50%;
    height: 70%;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s;
    z-index: 2;
  overflow-y: scroll;
  }

  
  .modalpc {
    color: rebeccapurple;
    text-align: center;
  }
  .modalpc > div{
    display: block;
    margin: 48px auto;
  }
  
  #mask.hidden {
    display: none;
  }
  
  #mo1.hidden,#mo2.hidden,#mo3.hidden,#mo4.hidden {
    transform: translate(0, -10000px);
  }
  .mo-cl{
    text-align: center;
  }
  .mo-cl > button{ 
    cursor: pointer;
    color: rebeccapurple;
    background: #babaa9;
    width: 108px;
    height: 32px;
    border-radius: 16px;
    border:  double purple;
  }
  .mo-cl > button:hover{ 
    background: #808072;
  }
  .pw-site{
    overflow-y: scroll;
  }
  /* Likes */
  /* .l-cpntainer .square{
    animation: l-rotate 10s infinite linear;
  }
  @keyframes l-rotate{
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  } */
  .psl{
    background-color: black;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* 後で消す */
    margin: 60px;
  }
  .psl > img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    opacity:0.5;
    object-fit: cover;
    
  }
  .psl:hover{

    /* width: 240px;
    height: 240px; */
    > img{
      opacity: 1;
      /* width: 240px;
      height: 240px; */
    }
    animation:sizeup 0.3s forwards;
  }
  @keyframes sizeup{
    to{
      transform: scale(1.5);
    }
  }
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--r) * 2px);
    height: calc(var(--r) * 2px);
    border: 20px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    > div {
      --a2: calc(var(--a) * 1deg - 90deg);
      --x: calc(cos(var(--a2)) * var(--r) * 1px);
      --y: calc(sin(var(--a2)) * var(--r) * 1px);
      position: absolute;
      color: #555;
      font: 700 50px / 1 Impact;
      translate: var(--x) var(--y);
    }
  }

  /* パフォーマンス　設定 */
  .p-wark{
    border:double 8px rgb(49, 3, 49);
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
  
  }
  .pw-logo{
    object-fit: cover;
  }
  .p-wark img{
    width: 100%;
  }
  /* .p-wark-text{
  } */

  /* #mo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
}