@charset "utf-8";

@media(min-width:900px){
  .pc{
    display: grid;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .add{
    display: none;
  }
  /* html ,body,main{
    height:20px;
  } */
  body{
    width: 100%;
    background: linear-gradient(to right,rgb(38, 190, 228),#ebd0d0,rgb(20, 10, 150));
    animation:changecolor 3s infinite;
    padding: 0;
    margin: 0;
    height: 100vh;
  }
  main{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .sp{
    display: none;
  }
  header{
    background: none;
  }
  .title{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    
  }
  .pc h1{
    -webkit-text-stroke-color: #2b4cadc3;
    -webkit-text-stroke-width: .01px;
    
  }
  .v-box{
    z-index: -1;
    min-width: 100%;
    max-height: 100vh;
  }
  .pcbg{
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
  }
  h1{
    margin: 0;
    padding: 0;
    font-size: 64px;
  }
  .title img{
    z-index: -2;
    width: 200px;
    border: darkmagenta double 4px;
  }
  /* start */
  .start{
    text-align: center;
  }
  .start-pc{
    margin:0 auto;
    position: absolute;
    z-index: 10;
    height: 100%;
    width:0%;
    background:rgb(119, 119, 119);
    text-align: center;
    animation: titleback 7s;
  }
  .statxt{
    margin-top: 15%;
    display: flex;
    padding-top: 2em;
    overflow: hidden;
  }
  .statxt > p{
    font-size: 48px;
    display: inline-block;
    margin-right:16px;
    opacity: 0;
    animation: textanime 1s forwards;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
  }
  .statxt p:nth-child(1){
    color: red;
    animation-delay:0.6s;
  }
  .statxt p:nth-child(2){
    color: orange;
    animation-delay:0.8s;
  }
  .statxt p:nth-child(3){
    color: yellow;
    animation-delay:1s;
  }
  .statxt p:nth-child(4){
    color: green;
    animation-delay:1.2s;
  }
  .statxt p:nth-child(5){
    color: blue;
    animation-delay:1.4s;
  }
  .statxt p:nth-child(6){
    color: navy;
    animation-delay:1.6s;
  }
  .statxt p:nth-child(7){
    color: purple;
    animation-delay:1.8s;
  }
  @keyframes titleback {
    0%{width: 100%; opacity: .7;}
    5%{opacity: 1;}
    80%{opacity: 1;
      /* backdrop-filter: blur(3px); */
    }
    100%{width: 100%; opacity: 0;}
  }
  @keyframes textanime {
    0%{transform: translateY(2em);opacity: 0;}
    50%{transform: translateY(-1em); opacity: 1;}
    100%{transform: translateY(0em); opacity: 1; }
  }

  /* 選択 */
  .choice{
    /* background-color: rgb(88, 74, 165); */
    backdrop-filter: blur(3px);
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.062);
    position: absolute;
    transition: 1.5s;
  }
  .choice h2{
    margin-top: 40%;
    font-size: 48px;
    color: rgb(245, 243, 243);
    -webkit-text-stroke-color: #d94eff;
    -webkit-text-stroke-width: .5px;
    font-family: "Ephesis", cursive;
    font-weight: 200;
    font-style: normal;
  }
  .c1{
    top: 5%;
    left: 5%;
    height: 250px;
    width: 250px;
  }
  .c2{
    top: 50%;
    left: 20%;
    height: 250px;
    width: 250px;
    aspect-ratio: 1/1;
  }
  .c3{
    height: 250px;
    width: 250px;
    top:5%;
    right:5%;
    aspect-ratio: 1/1;

  }
  .c4{
    top: 50%;
    right: 20%;
    height: 250px;
    width: 250px;
    aspect-ratio: 1/1;
  }
  .choice:hover{
    animation:changecolor 3s infinite linear;

  }
  @keyframes changecolor{
    0%{background-color: rgba(0, 247, 255, 0.1);}
    25%{background-color: rgba(47, 207, 154, 0.1);}
    50%{background-color: rgba(0, 211, 141, 0.1);}
    75%{background-color: rgba(194, 207, 203, 0.1);}
    100%{background-color: rgba(0, 247, 255, 0.1);}
  }

  /* クリックで開く */
  #op1,#op2,#op3,#op4{
    cursor: cell;
  }
  #op1 img{
    transition: 1s;

  }
  #op1 img:hover{
    filter: grayscale(100%);
    opacity: .5;
    transition: 1s;
  }
  #mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  #mo1,#mo2,#mo3,#mo4{
    background: #babaa9;
    width: 50%;
    height: 80%;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s;
    z-index: 2;
    overflow-y: scroll;
    background-attachment: fixed;
    background-position: center;
  }
  #mo1{
    background-image: url(71885_0.jpg);
  }
  
  #mo4{
    background-image:url(tower.jpg);
  }
  #mo2{
    background-image:url(オアシス夜景.jpg);
  }


  /* 自己紹介 */
  #mo1{
    background-image:url(自分3.jpg) ;
    background-size: cover;
    background-position:left;
    width: 40%;
    height: auto;
    aspect-ratio: 1.1/1;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s;
    z-index: 2;
    background-size: cover;
    text-align: center;
    border: 2px solid purple;
  }
  #mo1 button{
    width: 40%;
    margin: 0 auto 24px;
    font-size: 32px;
    height: 40px;
  } 
  .mo1txt{
    font-size: 16px;
    color:rgb(214, 174, 255);
    width: 65%;
    height: auto;
    border-radius: 4px;
    margin: 0 auto;
    padding:16px 24px;
    transition: 1s;
    > p{
      opacity: .2;
    }
  }
  .mo1txt:hover{
    transition: 1s;
    backdrop-filter: blur(5px);
    > p{
      opacity: 1;
      transition: 1.2s;
    }
  }
  #mo1 div{
    margin: 16px auto;
  }
  /* 自己紹介ここまで */
  
  .modalpc {
    color: rebeccapurple;
    text-align: center;
  }
  .modalpc > div{
    display: block;
    margin: 48px auto;
  }
  .modalpc > h1{
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-color: #ecd1f3;
    -webkit-text-stroke-width: .5px;
  }
  .modalpc > h3{
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-color: #ecd1f3;
    -webkit-text-stroke-width: .2px;
  }
  
  #mask.hidden {
    display: none;
  }
  
  #mo1.hidden,#mo2.hidden,#mo3.hidden,#mo4.hidden{
    transform: translate(0, -10000px);
  }
  .mo-cl{
    text-align: center;
    width: 50%;
    height: 64px;
    margin: 8px auto;
    padding: 0;
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .mo-cl > button{ 
    cursor: pointer;
    color: rebeccapurple;
    background: #fafaef5b;
    width: 100%;
    height: 100%;
    font-size: 32px;
    border-radius: 16px;
    border:  double purple;
    display: block;
  }
  .mo-cl > button:hover{ 
    background: #8080724c;
  }
  .pw-site{
    overflow-y: scroll;
  }
  


  /* パフォーマンス　設定 */
  /* #mo2{
    display: flex;
    flex-direction: column;
  } */
  .p-wark{
    display: block;
    border:double 8px rgb(113, 54, 113);
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    background: black;
    margin: 0 auto;
    

  }
  #mo2 > h3{
    font-size: 32px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
  }
  .p-wark-text{
    backdrop-filter: blur(30px);
    background: #18001f75;
    width: 50%;
    margin: auto;
  }
  .p-wark-text > p{
    font-weight: 500;
    color: rgb(134, 152, 242);
    -webkit-text-stroke-color: #cbc3cd;
    -webkit-text-stroke-width: .2px;
  }
  .pw-logo{
    object-fit: cover;
  }
  .p-wark img{
    width: 100%;
  }
  
  .con-p{
    width: 100%;
    height: 64px;
    margin: 8px auto;
    padding: 0; 
    
  }
  .con-p > a, .con-p > button{
    background: rgb(0, 0, 0,.7);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: 40px;
    display: block;
    transition: 1.5s;
    > span{
      font-size: 16px;
      display: inline-block;
      margin-left: 8px;
      color: rgb(0, 187, 255);
    }

  }
  .con-p > button:hover ,.con-p > a:hover{
    background-color: rgb(77, 76, 62,.6);
    transition: 1.5s;
  }
  #mo3 > h1 {
    margin: 16px auto;
  }
  #mo3{
    background-image:url(71880_0.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: "Ephesis", cursive;
  }

  /* skill */
  .skill-p{
    display: flex;
    width: 45%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius:4px;
    border: ridge 4px rgb(37, 3, 172);
    opacity: 0.2;
    transition: 2s;
    backdrop-filter: blur(10px);
    background-color: #000000a1;


  }
  .skill-p > .score{
    width: 100%;
  }
  
  .skill-p:hover{
    opacity: 1;
    transition: 1s;
  
  }
  
  .skill-p p{
    font-size: 12px;
    color: palegoldenrod;
    margin: 4px;
  }
  .skill-p h3{
    display: inline;
    font-size:24px;
    color: #ecd1f3;
  }
  .skill-p img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin:8px auto;
    border-radius: 4px;
    border: solid 1px aqua;
  }

  footer,header{
    display: none;
    overflow: hidden;
  }
  
  h3{
    position: relative;
  }
  h3::before{
    content: "";
    position: absolute;
    background: rgb(36, 19, 57);
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgb(98, 39, 169) ;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)rotate(45deg);
    z-index: -1;
    animation: kurukuru 10s linear infinite;
    opacity: .7;
  }
  /* @keyframes kurukuru {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}

  } */
}
