@charset "utf-8";
/* common */
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,rgb(31, 0, 34),rgb(8, 1, 102));
  color: rgb(253, 249, 200);
  font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  overflow-x: hidden;

}
hr{
  background-color:rgb(92, 2, 41);
  height: 3px;
  border: double blue;
  margin-top: 124px;
}
.size{
  max-width: 400px;
  margin: auto;
}
.sp{
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}
/* start */

/* header */
/* header {
  display: flex;
  background-color: rgba(86, 3, 159, 0.729);
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 20;
} */

h1{
  -webkit-text-stroke-color: #060606;
  -webkit-text-stroke-width: 1px;
  font-size: 48px;
}
h2{
  text-align: center;
  margin: 124px auto;
  font-size: 32px;
  position: relative;
}
h3{
  font-size: 16px;
}

/* 動き */
.animate {
  opacity: 0;
  transition: opacity 1s,transform 1s;
}

.animate.appear{
  opacity: 1;
  transform: none;
}
/* 動きここまで */




/* メイン */
.m-image{
  height: auto;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  /* z-index: -1;
  > video{
    position: fixed;
    z-index: -5;
  } */
  
}
.spbg{
  width: 100%;
}

.spa1{
  position: relative;
  padding-top: 70px;
}
.spa1::before {
  animation: scroll 3.5s infinite;
  border: solid #ffffff;
  border-width: 0 0 2px 2px;
  content: "";
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.message{
  position: absolute;
  font-size: 24px;
  transform: translate(-50%);
  left: 50%;
  font-weight: 500;
  color: #ffffff;
  -webkit-text-stroke-color: #b31111;
  -webkit-text-stroke-width: .1px;

}


.first > hr{
  margin: 0 auto;
  color: #fff;
}
.m-p{
  margin:0;
  height: 400px;
  text-align: center;
  background-image: url(自分3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  animation: parallax linear both;
  animation-timeline:view();


  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@keyframes parallax{
  from{background-position: center 0;}
  to{background-position: center -100px;}
}


.m-p-p{
  padding: 8px;
  font-size:32px;
  text-shadow: 1px 1px 0 aliceblue;
  background: linear-gradient(to right,rgba(31, 0, 34, 0.777),rgba(8, 1, 102, 0.781));
}
.m-p-w{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: #000;
  font-weight: 500;
}
.hanten{
  transform: scaleY(-0.5);
}
.space{
  height: 240px;
}

/* 好きなもの */
.like{
  height: auto;
  margin: 30vh auto;
  position: relative;
}
.like > div{
  margin: 60px auto;
  height: calc(1080px / 6);
  text-align: left;
  > img{
    width: 100%;
    width: 40%;
    padding: 10px 5%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn linear both;
   animation-timeline: view();
   animation-range: entry 25% cover 50%;
  }
}


@keyframes fadeIn {
from {
  opacity: 0;
  clip-path: inset(45% 20% 45% 20%);
}

to {
  opacity: 1;
  clip-path: inset(0% 0% 0% 0%);
}
}
.like > .b-right{
text-align: right;
}


/* 自己紹介 */

.logo{
  margin: 48px;
  border:double 8px rgb(49, 3, 49);
  width: 50%;
}
.Intro{
  text-align: center;
}
.prof-com p,div{
  text-align: center;
}
.intr-b{
  font-size: 24px;
  letter-spacing: 4px;
}
.prof-com > div{
  margin-top: 80px;
}
.prof-com > .pr-last{
  margin-bottom: 124px;
}
.prof-com > div > h1{
  font-size: 32px;
  -webkit-text-stroke-color: #969696;
  -webkit-text-stroke-width: .5px;
}



/* 名刺本体 */

.card {
  width: 80%; /* 任意の横幅を指定 */
  height: auto;
  aspect-ratio: 9.1/5.2;
  position: relative;
  cursor: pointer;
  margin:120px auto;
  overflow: hidden;
  transform: rotate(5deg);
  background: linear-gradient(to left,rgb(31, 0, 34),rgb(8, 1, 102));
  box-shadow: 0px 0px 20px 20px black;
}
/* 擬似要素とpadding-topでカードの高さを指定 */
.card::before {
  content: "";
  display: block;
  padding-top: 142.5%;
}
/* カード内の画像 */
.card img {
  width: 80%;
}
/* カード裏面・表面の共通スタイル */
.card .back,
.card .front {
  transition: all 1.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 10%;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
/* カード表面のスタイル */
.card .front {
  transform: rotateY(-180deg);
}
/* ホバー時のカード裏面 */
.card:hover .back {
  transform: rotateY(540deg);
}
/* ホバー時のカード表面 */
.card:hover .front {
  transform: rotateY(360deg);
}



/* wark */
.warks {
  text-align: center;
}
.warks h3{
  border-top:dotted #663399;
  padding-top: 48px;

}
.w-site{
  overflow-y: scroll;
}
.wark{
  border:double 8px rgb(49, 3, 49);
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  margin:48px auto;
  opacity: 0.7;
  transition: 2s;

}
.wark:hover{
  opacity: 1;
  transition: 1s;

}

.logo1{
  background-size: cover;
  background-image:url(walker.png) ;
}
.logo2{
  background-size: cover;
  background-image: url(ぱんであ.png);
}
.wark img{
  width: 100%;
}
.warks p{
  margin-bottom: 56px;
  display:block;
}


/* skill */
.skill{
  display: flex;
  max-width: 96%;
  height: 120px;
  margin:8px auto;
  padding: 8px 4px;
  border-radius:4px;
  border: ridge 4px rgb(37, 3, 172);
  opacity: 0.7;
  transition: 2s;
}

.skill:hover{
  opacity: 1;
  transition: 2s;

}

.skill p{
  font-size: 12px;
  color: palegoldenrod;
  margin: 4px;
}
.skill h3{
  display: inline;
}
.skill img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: auto;
  border-radius: 4px;
  border: solid 1px aqua;

}
.score{
  width: 80%;
}
.skill-line{
  height: 24px;
  max-width: 100%;
  margin: 0 auto 0 4px;
  border-radius:12px;
  display: block;
  color: #fff;
  font-size: 24px;
  background-color: #fff;
  border: solid 1px blueviolet;
}
.skill-line2{
  height: 24px;
  margin: 0 ;
  border-radius:12px;
}
.sl1{
  background:blue;
  max-width: 90%;
}
.sl2{
  background:blue;
  max-width: 90%;
}
.sl3{
  background:blue;
  max-width: 60%;
}
.sl4{
  background:blue;
  max-width: 90%;
}
.sl5{
  background:blue;
  max-width: 95%;
}
.sl6{
  background:blue;
  max-width: 75%;
}
.sl7{
  background:blue;
  max-width: 60%;
}
.sl8{
  background:blue;
  max-width: 80%;
}

/* 上に */
header.scrolled {
  background: #4545453e;
}

#to_top {
  position: fixed;
  bottom:16px;
  right: 16px;
  opacity: 0;
}

#to_top i {
  font-size: 32px;
  color: rgb(64, 0, 255);
}


#to_top.scrolled {
  opacity: 1;
}

.add{
  /* 追加 */
  position: fixed;
  top: 0;
  width: 100% !important;
}
.pc{
  display: none;
}

footer{
  height: 500px;
  margin: 80px auto 0;
  color: #fff;
  background-image: url(自分2.jpg);
background-size: cover;
background-position: center;
}

.contact{
  text-align: center;
}
footer > section{
margin: 10% 5%;
background: rgba(139, 0, 139, 0.736);

height: 80%;
width: 90%;
/* aspect-ratio: 1/1; */
opacity: .8;
border-radius:8px;
transition: 2s;
border: #001572 double 1px ;

}
footer > section:hover{
  opacity: 1;
  transition: 1s;
}
.contact > h2{
  margin: 32px auto;
}
.contact > div{
  font-size: 24px;
  > a{
    font-size: 24px;
    font-weight: 900;
    color: #fcf6fe;
    -webkit-text-stroke-color: #56a5ff;
    -webkit-text-stroke-width:1px;
  }
  
  /* > a:hover{
    color: #fff;
  } */
}
.con-h:hover{
  margin: auto;
  background-color: #66339946;
  border-radius: 8px;
  width: 40%;
  transform-origin: left top;
  transition: .7s;
  > a{
    color: #fff;
  transition: .7s;

  }
}
.contact .last-m{
  font-size: 16px;
}

@media(max-width:450px){
  .css-carousel-slider4 img{
    width: 80%;
    opacity: 1;
    transition: 1s;
  
  }
  footer > section{
    opacity: .7;
    transition: 1s;
     aspect-ratio: 1/.6;

  }
  .skill,.wark{
    opacity: 1;
    transition: 2s;
  
  }
  h2,h3{
    font-size: 24px;
  }
  p,.prof-com p{
    font-size: 16px;
  }
  .contact > div{
    font-size: 16px;
  }

}
@media(max-width:900px){
  h2::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 150px 90px;
    border-color: transparent transparent 
    rgb(75, 31, 128) 
    transparent;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    top: -90px;
    left: 45%;
    color: #fff;
    opacity: .5; 
  }
  .Intro > h2::before{
    top: -60px;
  }
  .warks > h3{
    position: relative;
    font-size: 24px;
    padding: 40px;
    margin:  0;
  }
  .warks > h3::before{
    content: "";
    position: absolute;
    background: rgb(36, 19, 57);
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgb(98, 39, 169) ;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)rotate(45deg);
    z-index: -1;
    opacity: .3;
  }
}

/* パソコン */
