@charset "utf-8";
/* common */
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,rgb(31, 0, 34),rgb(8, 1, 102));
  color: rgb(132, 121, 3);
  font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  overflow-x: hidden;

}
hr{
  background-color:rgb(92, 2, 41);
  height: 3px;
  border: double blue;
  margin-top: 124px;
}
.size{
  max-width: 400px;
  margin: auto;
}
.sp{
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}
/* start */

/* header */
header {
  display: flex;
  padding: 0 16px;
  background-color: rgba(86, 3, 159, 0.729);
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 20;
}
h1{
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  font-size: 6vw;
}
h2{
  text-align: center;
  margin: 124px 0;
  font-size: 5vw;
}
h3{
  font-size: 4vw;
}

/* 動き */
.animate {
  opacity: 0;
  transition: opacity 1s,transform .5s;
}

.animate.appear{
  opacity: 1;
  transform: none;
}
/* 動きここまで */

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  cursor: pointer;
  margin-right: 24px;
}

.sp-menu #open.hide{
  display: none;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity.6s;
  z-index: 20;

}
.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay li{
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li{
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1){
  transition-delay:.1s ;
}
.overlay.show li:nth-child(2){
  transition-delay:.2s ;
}
.overlay.show li:nth-child(3){
  transition-delay:.3s ;
}
.overlay.show li:nth-child(4){
  transition-delay:.4s ;
}
.overlay.show li:nth-child(5){
  transition-delay:.5s ;
}

.overlay.show{
  opacity: 1;
  pointer-events: auto;
}

.overlay span{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}


header h1{
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: rgb(8, 30, 48);
  opacity: 1;
  padding-top:2px;
  
}
.text a {
  color: #000;
  text-decoration: none;
}
.text {
  padding-bottom: 3px; /* テキストと下線の間隔 */
  font-size: 24px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}
.text:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
}

/* メイン */
.m-image{
  height: auto;
  width: 100%;
}
.spbg{
  width: 100%;
}

.spa1{
  position: relative;

}
.message{
  position: absolute;
  top: 50%;
  font-size: 8vw;
  transform: translate(-50%);
  left: 50%;
  font-weight: 900;
  color: #e2e61a;
  -webkit-text-stroke-color: #b31111;
  -webkit-text-stroke-width: .5px;
  animation: poyooon 1.5s linear  infinite ;
}
@keyframes poyooon {
  0%   { transform: translate(-50%, 0%); }
  60%  { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, 0%); }
}
.first > hr{
  margin: 0 auto;
  color: #fff;
}
.m-p{
  margin:0;
  height: 400px;
  text-align: center;
  background-image: url(自分1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.m-p-p{
  padding: 8px;
  font-size:32px;
  text-shadow: 1px 1px 0 aliceblue;
  background: linear-gradient(to right,rgb(31, 0, 34),rgb(8, 1, 102));

}
.hanten{
  transform: scaleY(-0.5);
}
.space{
  height: 480px;
}

/* 自己紹介 */

.logo{
  margin: 48px;
  border:double 8px rgb(49, 3, 49);
  width: 50%;
}
.Intro{
  text-align: center;
}
.prof-com p{
  font-size: 3vw;
  text-align: center;
}

/* 名刺本体 */

.card {
  width: 80%; /* 任意の横幅を指定 */
  height: auto;
  aspect-ratio: 8/5;
  position: relative;
  cursor: pointer;
  margin:88px auto;
  overflow: hidden;
}
/* 擬似要素とpadding-topでカードの高さを指定 */
.card::before {
  content: "";
  display: block;
  padding-top: 142.5%;
}
/* カード内の画像 */
.card img {
  width: 100%;
}
/* カード裏面・表面の共通スタイル */
.card .back,
.card .front {
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
/* カード表面のスタイル */
.card .front {
  transform: rotateY(-180deg);
}
/* ホバー時のカード裏面 */
.card:hover .back {
  transform: rotateY(180deg);
}
/* ホバー時のカード表面 */
.card:hover .front {
  transform: rotateY(0);
}

/* 好きなもの */
.like hr{
  margin-top: 0px;
}
.like p{
  font-size: 3vw;
  text-align: center;
}
/* カルーセル */
/* 全体設定 */
.css-carousel-slider4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
  aspect-ratio: 1/1;
  text-align: center;
  margin-bottom: 24px;
}
.css-carousel-slider4 img {
  width: 70%;
  height: auto;
  aspect-ratio: 1/1.2;
  vertical-align: top;
  border-radius: 25%;
  object-fit: cover;
  opacity: .5;
  transition: 2s;
}
.css-carousel-slider4 img:hover{
  width: 80%;
  opacity: 1;
  transition: 1s;

}


/* スライド設定 */
.css-carousel-slider4 .slide-wrap {
  width: 400%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  animation: css-carousel-slider4 20s infinite;
  animation-delay: 2s;
}
.css-carousel-slider4 .slide-wrap-main {
  width: 100%;
  z-index: 1;
  animation: css-carousel-slider-main4 20s infinite;
  animation-delay: 2s;
}
.css-carousel-slider4 .slide {
  width: 100%;
}

/* スライダーアニメーションの設定 */
@keyframes css-carousel-slider4 {
  0% { transform: translateX(0); }

  20% { transform: translateX(calc(1 / 4 * -100%)); }
  25% { transform: translateX(calc(1 / 4 * -100%)); }

  45% { transform: translateX(calc(2 / 4 * -100%)); }
  50% { transform: translateX(calc(2 / 4 * -100%)); }

  70% { transform: translateX(calc(3 / 4 * -100%)); }
  75% { transform: translateX(calc(3 / 4 * -100%)); }

  95% { transform: translateX(calc(4 / 4 * -100%)); }
  100% { transform: translateX(calc(4 / 4 * -100%)); }
}

@keyframes css-carousel-slider-main4 {
  0% { transform: translateX(100%); }
  75% { transform: translateX(100%); }
  95% { transform: translateX(0%);}
}
a{
  font-size: large;
  color: aquamarine;
  text-decoration: none;
}

/* wark */
.warks {
  text-align: center;
}
.warks h3{
  border-top:dotted #663399;
  padding-top: 48px;

}
.w-site{
  overflow-y: scroll;
}
.wark{
  border:double 8px rgb(49, 3, 49);
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  margin:48px auto;
  opacity: 0.3;
  transition: 2s;

}
.wark:hover{
  opacity: 1;
  transition: 1s;

}

.logo1{
  background-size: cover;
  background-image:url(walker.png) ;
}
.logo2{
  background-size: cover;
  background-image: url(ぱんであ.png);
}
.wark img{
  width: 100%;
}
.warks p{
  margin-bottom: 56px;
  display:block;
}


/* skill */
.skill{
  display: flex;
  max-width: 96%;
  height: 120px;
  margin:8px auto;
  padding: 8px 4px;
  border-radius:4px;
  border: ridge 4px rgb(37, 3, 172);
  opacity: 0.2;
  transition: 2s;
}

.skill:hover{
  opacity: 1;
  transition: 2s;

}

.skill p{
  font-size: 12px;
  color: palegoldenrod;
  margin: 4px;
}
.skill h3{
  display: inline;
}
.skill img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: auto;
  border-radius: 4px;
  border: solid 1px aqua;

}
.score{
  width: 80%;
}
.skill-line{
  height: 24px;
  max-width: 100%;
  margin: 0 auto 0 4px;
  border-radius:12px;
  display: block;
  color: #fff;
  font-size: 24px;
  background-color: #fff;
  border: solid 1px blueviolet;
}
.skill-line2{
  height: 24px;
  margin: 0 ;
  border-radius:12px;
}
.sl1{
  background:blue;
  max-width: 90%;
}
.sl2{
  background:blue;
  max-width: 90%;
}
.sl3{
  background:blue;
  max-width: 60%;
}
.sl4{
  background:blue;
  max-width: 90%;
}
.sl5{
  background:blue;
  max-width: 95%;
}
.sl6{
  background:blue;
  max-width: 75%;
}
.sl7{
  background:blue;
  max-width: 60%;
}

/* 上に */
header.scrolled {
  background: #fff;
}

#to_top {
  position: fixed;
  bottom:16px;
  right: 16px;
  opacity: 0;
}

#to_top i {
  font-size: 32px;
  color: rgb(64, 0, 255);
}


#to_top.scrolled {
  opacity: 1;
}

.add{
  /* 追加 */
  position: fixed;
  top: 0;
  width: 100% !important;
  padding:20px;
}
.pc{
  display: none;
}

footer{
  margin: 80px auto 0;
  color: #fff;
  
}

.contact{
  text-align: center;
}
footer > section{
margin-top: 120px;
background: darkmagenta;
height: 50%;
width: 100%;
aspect-ratio: 1/.5;
opacity: 0.2;
border-radius: 50% / 100% 100% 0 0;
transition: 2s;
padding-bottom: 64px;
border: #001572 double 1px ;
}
footer > section:hover{
  opacity: .7;
  transition: 1s;
}
.contact > div{
  font-size: 32px;
  > a{
    font-size: 24px;
    font-weight: 900;
    color: #bb00ff;
    -webkit-text-stroke-color: #56a5ff;
    -webkit-text-stroke-width:1px;
  }
  
  /* > a:hover{
    color: #fff;
  } */
}
.con-h:hover{
  margin: auto;
  background-color: #663399;
  border-radius: 8px;
  width: 40%;
  transform-origin: left top;
  transition: .7s;
  > a{
    color: #fff;
  transition: .7s;

  }
}
.contact .last-m{
  font-size: 16px;
}



/* パソコン */
